@using Text.Models
@using PagedList.Mvc
@model  PagedList.PagedList<Product>

@{
    ViewBag.Title = "ManageProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <div class="row">
        <div class="col-8 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Sản phẩm
                    </h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Discount</th>
                                @*<th>Description</th>*@
                                <th>Quanlity</th>
                                <th>Brand</th>
                                <th>Day create</th>
                                <th>Image</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@i.productId</td>
                                    <td>@i.productName</td>
                                    <td>@i.price</td>
                                    <td>@i.discount</td>
                                    @*<td>@i.description</td>*@
                                    <td>@i.quanlity</td>
                                    <td>@i.brand</td>
                                    <td>@i.dateCreate</td>
                                    <td><image src="@Url.Content(""+i.image)" width="100px" /></td>
                                    <td>
                                        <a href="@Url.Action("Delete","ProductAdmin", new { Id = i.productId})" class="remove" style="text-decoration: none; color:black">X</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination-wrap clearfix">
                        <p class="result-count"></p>
                        @*   Lien ket trang*@
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                        <div class="Page">
                            @Html.PagedListPager(Model, Page => Url.Action("ManageProduct", "ProductAdmin", new { Page = Page }))
                        </div>
                        <style>
                            .Page li {
                                color: black;
                                float: left;
                                padding: 8px 16px;
                                text-decoration: none;
                                transition: background-color .3s;
                                display: inline;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Quản lý sản phẩm
                    </h3>
                </div>
                <div class="card-content">
                    <div class="">
                        <p>
                            Product Name
                            <span class="float-right"><input type="text" name="productName" /></span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            Price
                            <span class="float-right"><input type="text" name="price" /></span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            Discount
                            <span class="float-right"><input type="text" name="discount" /></span>
                        </p>
                    </div>
                    <div class="" style="height:50px; word-wrap:break-word">
                        <p>
                            Description
                            <span class="float-right"><input type="text" name="description" style="height:50px" /></span>
                        </p>
                    </div>
                    <div class="" style="height:50px">
                        <p>
                            Quanlity
                            <span class="float-right"><input type="text" name="quanlity" /></span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            Brand
                            <span class="float-right"><input type="text" name="brand" /></span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            Image
                            <span class="float-right"></span>
                        </p>
                    </div>
                    
                    <div>
                        <button type="submit">ADD</button>
                        <button type="submit">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 