@using Text.Models
@using PagedList.Mvc
@model PagedList.PagedList<Member>

@{
    Member member = (Member)Session["UserLogin"];
}
@{
    ViewBag.Title = "MemberAccount";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <div class="row">
        <div class="col-11 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Thông tin khách hàng
                    </h3>
                    <form class="navbar-search">
                        @using (Html.BeginForm("ManageAccount", "Account", FormMethod.Get))
                        {
                            <input type="search" name="Search" class="navbar-search-input" placeholder="What you looking for...">
                            <i class="fas fa-search"></i>
                        }
                    </form>
                </div>
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Email</th>
                                <th>BirthDay</th>
                                <th>IdentityNumber</th>
                                <th>Phone</th>
                                <th>DateofJoin</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Detail", "Account", new { userName = i.userName })" style="text-decoration: none; color:black">@i.firstName</a></td>
                                    <td><a href="@Url.Action("Detail", "Account", new { userName = i.userName})" style="text-decoration: none; color:black">@i.lastName</a></td>
                                    <td>@i.email</td>
                                    <td>@i.birthday.Value.ToShortDateString()</td>
                                    <td>@i.identityNumber</td>
                                    <td>@i.phone</td>
                                    <td>@i.dateOfJoin</td>
                                    <td>@i.address</td>
                                    <td>
                                        <a href="@Url.Action("Delete", "Account", new { userName = i.userName })" class="remove" style="text-decoration: none; color:black">X</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Account", new { userName = i.userName})" style="text-decoration: none; color:black">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination-wrap clearfix">
                        <p class="result-count"></p>
                        @*   Lien ket trang*@
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                        <div class="Page">
                            @Html.PagedListPager(Model, Page => Url.Action("ManageAccount", "Account", new { Page = Page }))
                        </div>
                        <style>
                            .Page li {
                                color: black;
                                float: left;
                                padding: 8px 16px;
                                text-decoration: none;
                                transition: background-color .3s;
                                display: inline;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
