@using Text.Models
@{ 
    Member UserName = (Member)Session["UserLogin"];
}
@{
    ViewBag.Title = "ProfileAccount";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <div class="row">
        <div class="col-4 col-m-12 col-sm-12">
            <div class="card" style="width:auto">
                <div class="card-header">
                    <h3>
                        Profile Account
                    </h3>
                    <a href="@Url.Action("Index", "Admin", new { Id = UserName.roleId})"><i class="fas fa-sign-out"></i></a>
                </div>
                <div class="card-content">
                    <div class="">
                        <p>
                            <b>First Name</b>
                            <span class="float-right">@UserName.firstName</span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            <b>Last Name</b>
                            <span class="float-right">@UserName.lastName</span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            <b>Email</b>
                            <span class="float-right">@UserName.email</span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            <b>Birthday</b>
                            <span class="float-right">@UserName.birthday</span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            <b>IdentityNumber</b>
                            <span class="float-right">@UserName.identityNumber</span>
                        </p>
                    </div>
                    <div class="">
                        <p>
                            <b>Phone</b>
                            <span class="float-right">@UserName.phone</span>
                        </p>                       
                    </div>
                    <div class="">
                        <p>
                            <b>Day of join</b>
                            <span class="float-right">@UserName.dateOfJoin</span>
                        </p>                        
                    </div>
                    <div class="">
                        <p>
                            <b>Address</b>
                            <span class="float-right">@UserName.address</span>
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

